<<<<<<< HEAD
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>vote</title>
    <link rel="stylesheet" href="styles/index.css">
</head>

<body>
    <div class="voter">
        <h1 class="voter-title"> voter</h1>
    </div>
    <div class="voter-image">
        <img class="voter-image__img" src="/img/Voting-image-6-scaled.jpg" alt="">

    </div>
    <div class="voter-main">
        <P>“Voting is not only our right—it is our power.”</P>
        <div class="voter-button">
            <a href="/voter">Click Hear for Vote</a>
        </div>
    </div>

    <!-- ========== Start footer ========== -->

    <footer>
        <h5>Made by sophiya MCA</h5>
        <h5 class="copyright">&copy; Copyright 2023 by- sophiya MCA</h5>
    </footer>
    <!-- ========== End footer ========== -->

</body>

=======
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>vote</title>
    <link rel="stylesheet" href="styles/index.css">
</head>

<body>
    <div class="voter">
        <h1 class="voter-title"> voter</h1>
    </div>
    <div class="voter-image">
        <img class="voter-image__img" src="/img/Voting-image-6-scaled.jpg" alt="">

    </div>
    <div class="voter-main">
        <P>“Voting is not only our right—it is our power.”</P>
        <div class="voter-button">
            <a href="/voter">Click Hear for Vote</a>
        </div>
    </div>

    <!-- ========== Start footer ========== -->

    <footer>
        <h5>Made by Mca Sona</h5>
        <h5 class="copyright">&copy; Copyright 2023 by- MCA SONA</h5>
    </footer>
    <!-- ========== End footer ========== -->

</body>

>>>>>>> b457938317b040bfbf8cff09706b589f23fe1e95
</html>