<<<<<<< HEAD
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>voting form</title>
    <link rel="stylesheet" href="styles/voting.css">


    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>

</head>

<body>
    <div class="login-box">
        <h2 style="
        
        padding-top: 90px;
    ">Vote Here</h2>
        <form action="/voter" method="POST">

            <div class="user-box">
                <input type="text" name="name" required="">
                <label>Name</label>
            </div>
            <div class="user-box">
                <input type="text" name="voterid" required="">
                <label>Vote ID</label>
            </div>
            <div class="user-box">
                <input type="text" name="voterid" required="">
                <label>Department</label>
            </div>


            <div class="swappy-radios" role="radiogroup" aria-labelledby="swappy-radios-label">
                <h3 id="swappy-radios-label">Select a Nominee</h3>
                <label style="
                padding-left: 25px;">
                    <input type="text" name="options" checked />
                    <!--<span class="radio"></span>-->
                    <span class="radio">1.</span>
                    <span>Akshaya D</span>
                </label>
                <label style="
                padding-left: 25px;">
                    <input type="text" name="options" />
                    <span class="radio">2.</span>
                    <span>Karthikeyan P C</span>
                </label>
                <label style="
                padding-left: 25px;">
                    <input type="text" name="options" />
                    <span class="radio">3.</span>
                    <span>Divya Dharshini G S</span>
                </label>
                <label style="
                padding-left: 25px;">
                    <input type="tex1" name="options" />
                    <span class="radio">4.</span>
                    <span> Aruna S</span>
                </label>
                <!-- <input  name="voterid" type="text"> -->
                <!--<textarea name="nominee" id="" cols="30" rows="2" style="resize: none;"></textarea>-->




            </div>
            <div class="user-box">
                <input type="password" placeholder="Enter the Nominee " name="nominee" required="">

            </div>
            <a type="submit">
                <button type="submit" class="btnsub">Submit</button>

            </a>

        </form>

        <footer>
            <h3>Made by sophiya MCA</h3>
            <h4 class="copyright">&copy; Copyright 2023 by- sophiya MCA</h4>
        </footer>
    </div>
    <!-- ========== Start footer ========== -->


    <!-- ========== End footer ========== -->
    <script src="scripts/voting.js"></script>
</body>

=======
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>voting form</title>
    <link rel="stylesheet" href="styles/voting.css">


    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>

</head>

<body>
    <div class="login-box">
        <h2 style="
        
        padding-top: 90px;
    ">Vote Here</h2>
        <form action="/voter" method="POST">

            <div class="user-box">
                <input type="text" name="name" required="">
                <label>Name</label>
            </div>
            <div class="user-box">
                <input type="text" name="voterid" required="">
                <label>Vote ID</label>
            </div>
            <div class="user-box">
                <input type="text" name="voterid" required="">
                <label>Department</label>
            </div>


            <div class="swappy-radios" role="radiogroup" aria-labelledby="swappy-radios-label">
                <h3 id="swappy-radios-label">Select a Nominee</h3>
                <label style="
                padding-left: 25px;">
                    <input type="text" name="options" checked />
                    <!--<span class="radio"></span>-->
                    <span class="radio">1.</span>
                    <span>Akshaya D</span>
                </label>
                <label style="
                padding-left: 25px;">
                    <input type="text" name="options" />
                    <span class="radio">2.</span>
                    <span>Karthikeyan P C</span>
                </label>
                <label style="
                padding-left: 25px;">
                    <input type="text" name="options" />
                    <span class="radio">3.</span>
                    <span>Divya Dharshini G S</span>
                </label>
                <label style="
                padding-left: 25px;">
                    <input type="tex1" name="options" />
                    <span class="radio">4.</span>
                    <span> Aruna S</span>
                </label>
                <!-- <input  name="voterid" type="text"> -->
                <!--<textarea name="nominee" id="" cols="30" rows="2" style="resize: none;"></textarea>-->




            </div>
            <div class="user-box">
                <input type="password" placeholder="Enter the Nominee " name="nominee" required="">

            </div>
            <a type="submit">
                <button type="submit" class="btnsub">Submit</button>

            </a>

        </form>

        <footer>
            <h3>Made by Mca Sona</h3>
            <h4 class="copyright">&copy; Copyright 2023 by- MCA SONA</h4>
        </footer>
    </div>
    <!-- ========== Start footer ========== -->


    <!-- ========== End footer ========== -->
    <script src="scripts/voting.js"></script>
</body>

>>>>>>> b457938317b040bfbf8cff09706b589f23fe1e95
</html>